@font-face {
  font-family: NotoSans;
  src: url("../fonts/NotoSans-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NotoSans;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  font-family: NotoSans;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 1.5em;
}

section {
  max-width: 600px;
  padding: 3em;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2em;
}

input[type="number"] {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid rgb(228, 228, 228);
}

button {
  padding: 0.5em 1em;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: rgb(71, 163, 255);
}

button:active {
  background-color: rgb(28, 131, 235);
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(49, 241, 255);
}

#trgbtn {
  width: 190px;
  height: 50px;
  margin: 20px;
  border-radius: 30px;
  background: linear-gradient(to right, #3a6186, #89253e);
  color: white;
  font-size: 120%;
  box-shadow: 0 5px #999;
  border: none;
  cursor: pointer;
  transition-duration: 0.08s;
}
#trgbtn:active {
  box-shadow: 0px 0px #666;
  transform: translateY(5px);
}
