#container{
    width: 100%;
    margin: 0 auto;

}

*{
    
    
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}





/* COPEN */


h2{
    font-weight: 800;
}
th{
   
    font-size: 20px;
     color: #3a6186;
     font-weight: 900;
 }
